﻿@model WebApplication2.Models.EmpModel
@using (Html.BeginForm("EditEmpDetails", "Employee", method: FormMethod.Post))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Update Employee Details</h4>
    <hr />
    <div>
        @Html.ActionLink("Back to Details", "GetAllEmpDetails")
    </div>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Empid)

    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>
   
   
    <div class="form-group">
        @Html.LabelFor(model => model.state, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.state, Model.StateList, "-state-", new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.District, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.District, Model.DistrictList, "- District-", new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.DOB, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control", placeholder = "DOB"} })
            @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Update" class="btn btn-default" />
        </div>
    </div>
</div>
}

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#state").on("change", function () {
                $.ajax({
                    url: "/Employee/GetAllDistrictByState",
                    type: "GET",
                    dataType: "json",
                    data: { id: $("#state").val() },
                    success: function (data) {
                        console.log(data);
                        $("#District").html("");
                        $("#District").append("<option value='0'>Select District</option>");
                        $.each(data, function (i, val) {
                            $("#District").append("<option value=\"" + val.DistrictId + "\">" + val.DistrictName + "</option>");
                            console.log('district name :', val.DistrictName, 'district id are :', DistrictId)
                        });
                      /*  console.log('after append',data);*/
                    }
                })
            })
            $('#DOB').datepicker({
                dateFormat: "dd/M/yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "-60:+0"
            });
            //form validation using jquery
            $('#addemp').validate({
                errorClass: 'help-block animation-slideDown', // You can change the animation class for a different entrance animation - check animations page  
                errorElement: 'div',
                errorPlacement: function (error, e) {
                    e.parents('.form-group > div').append(error);
                },
                highlight: function (e) {
                    $(e).closest('.form-group').removeClass('has-success has-error').addClass('has-error');
                    $(e).closest('.help-block').remove();
                },
                success: function (e) {
                    e.closest('.form-group').removeClass('has-success has-error');
                    e.closest('.help-block').remove();
                },
                rules: {
                    'Name': {
                        required: true,
                    },

                    'state': {
                        required: true,
                    },

                    'District': {
                        required: true,
                    },
                    'DOB': {
                        required: true,
                    }
                },
                messages: {
                    'Name': 'Name missing',
                    'state': 'select state',
                    'District': 'select district',
                    'DOB': 'dob missing '
                }
            });
        });
    </script>
    
}
